.game-state {
  grid-column: 4/10;
  background-color: #ae7b65;
  border-radius: 20px;
  grid-row: 1/2;
  position: relative;

}


h1 {
  font-size: 2rem;
  color: #fff;
  font-family: "Georgia", sans-serif;
}
